@model IEnumerable<TryMvcApp.Models.UserModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Users List";
}

<div class="login_form page_wrapper">

    <h2>List of created accounts:</h2>

    <table class="table" style="text-align: left;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.Label("Online")
            </th>
        </tr>

        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Role)
                </td>
                <td>
                    @(string.Equals(user.UserName, HttpContext.Current.ApplicationInstance.Context.User.Identity.Name, StringComparison.OrdinalIgnoreCase) ? Html.Label("Yes", new { @style = "color:#2d2" } ) : Html.Label("No", new { @style = "color:#d22" }))
                </td>
            </tr>
        }

    </table>
</div>